.jumbotron
  width: 100vw
  height: 100vh
  background: url("../images/jumbotron.svg") no-repeat
  mixin-background-size()

.navigation
  flex-row(wrap-reverse)
  justify-content: center
  width: 83%
  margin: 0 auto
  padding-top: 50px
  +below($xs)
    padding-top: 10px
  ul
    flex-row(no-wrap)
    margin-left: auto
    padding-left: 0px
    margin-top: 20px
    list-style: none
    li
      mixin-jumbotron-nav()
      line-height: $nav-line-height
      text-align: left
      font-weight: $bold
      color: $medium-grey
      &:hover
        color: $white
        cursor: pointer
      img
        +below($xs)
          width: 25px
          height: 25px
          margin-top: 10px

.tittle
  mixin-jumbotron-title()
  margin: 80px 0 0 14%
  max-width: 540px
  font-weight: $bold
  overflow-wrap: normal
  color: $white
  +below($xs)
    margin: 20px 0 0 12%
  span
    display: block
    color: $secondary-color
    background-color: $primary-color
    padding: 0 30px
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

.slogan
  margin-left: 14%
  margin-right: 14%
  color: $white
  max-width: 530px
  font-size: $slogan-font-size
  line-height: 29px
