.team-container
  padding: 5.5% 8% 5.5% 8%
  background-color: $white
  .team-members-container
    flex-row()
    justify-content: space-evenly
    margin: 60px 0
    div
      width: 260px
      margin: 0 10px 20px 10px
      flex-column()
      justify-content: center
      align-items: center
      p
        margin: 5px
      img
        width: 140px
        height: 140px
        border-radius: 50%
      .name
        margin-top: 25px
        font-weight: 500
        font-size: 20px
        color: $secondary-color
      .charge
        text-transform: uppercase
      .description
        text-align: center
