@import './lib/_variables.styl'
@import './normalize.styl'
@import './lib/_mixins.styl'
@import './base/commontstyle.styl'
@import './base/buttons.styl'
@import './lib/_functions.styl'
@import './components/jumbotron.styl'
@import './components/about.styl'
@import './components/projects_container.styl'
@import './components/team.styl'
@import './components/footer.styl'
