flex-row(type = wrap)
  display: flex
  flex-direction: row
  flex-wrap: type

flex-column(type = wrap)
  display: flex
  flex-direction: column
  flex-wrap: type

mixin-background-size(type = cover)
  background-size: type
  -webkit-background-size: type;
  -moz-background-size: type;
  -o-background-size: type;
