@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$base-font = 'Roboto', sans-serif

// colors
$primary-color = #00D0AD
$secondary-color = #005EEB
$gray = #E0E0E0
$white = #FFF
$medium-grey = #728699
$light-grey = #ACC1D3
$background-grey = #E5E5E5

$slogan-font-size = 18px

// navigation
$nav-font-size = 36px
$nav-line-height = 51px
$nav-li-padding = 25px

// jumbotron-title
$jumbotron-title-font-size = 68px
$jumbotron-title-line-height = 96px

// footer
$footer-logo-name = 26px
$footer-year-font-size = 14px
$footer-links-font-size = $slogan-font-size


$title-font-size = 24px
$title-color = #384958

$left-identation = 100px

$bold = 700

$x-small = 350px
$xs = 576px
$sm = 769px
$md = 992px
$xl = 1024px

