.btn
  background-color $primary-color
  text-align center
  padding .75em
  border-radius 4px
  font-weight 400
  color $white
  text-decoration none
  margin-bottom 1em
  display block
  float left
  &:hover
    box-shadow 0 14px 14px 0 rgba(29, 53, 77, 0.05)
